<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> 404 </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{includes/head::head}" />

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <th:block th:insert="~{includes/navbar::navbar}" />
    <!-- Navbar End -->

    <!-- Main Sidebar Container -->
    <th:block th:insert="~{includes/sidebar::sidebar}" />
    <!-- Main Sidebar Container End -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>404 错误页面</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/index">主页</a></li>
                            <li class="breadcrumb-item active">404 错误页面</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning"> 404 </h2>

                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> 页面未找到 </h3>

                    <p>
                        进入了错误页面，点击这里<a href="/index">返回主页</a>，或者尝试查找相关信息
                    </p>

                    <form class="search-form">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="查找">

                            <div class="input-group-append">
                                <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.input-group -->
                    </form>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->

    </div>

    <!-- Footer Copyright -->
    <th:block th:insert="~{includes/footer::footer}" />
    <!-- Footer Copyright End -->


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
<!-- /.content-wrapper -->
</div>

<!-- Script -->
<th:block th:insert="~{includes/script::script}" />


</body>
</html>