<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.AdminLET.mapper.UserTableMapper">
  <resultMap id="BaseResultMap" type="com.example.AdminLET.domain.UserTable">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="perm" jdbcType="VARCHAR" property="perm" />
    <result column="lastLoginGMT" jdbcType="VARCHAR" property="lastlogingmt" />
  </resultMap>
</mapper>