<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>navbar</title>
</head>
<body>

<!--
插入语句
<th:block th:insert="~{includes/navbar::navbar}" />
-->
<th:block th:fragment="navbar">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" >
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/index" class="nav-link">主页</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">占位</a>
            </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="查找" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- 消息Messages Dropdown Menu -->
            <li class="nav-item dropdown" id="messages" v-cloak>
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge" v-if="messages.length > 0 ">{{messages.length}}</span>
                    <span class="badge badge-danger navbar-badge" v-else></span>
                </a>

                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" >
                    <div>{{messages.username}}</div>
                    <!--当无消息时-->
                    <div v-if="messages.length < 1" >
                        <div href="#" class="dropdown-footer greyFont">没有消息</div>
                        <div class="dropdown-divider"></div>
                    </div>



                    <!-- 有消息时 Message Start -->
                    <div v-else v-for="message in messages">
<!--                        <a href="#" class="dropdown-item" >-->
<!--                            <div class="media" v-for="msg in message">-->
<!--                                <img :src="msg[3].avatar" alt="User Avatar" class="img-size-50 mr-3 img-circle">-->
<!--                                <div class="media-body">-->
<!--                                    <h3 class="dropdown-item-title">-->
<!--                                        {{msg[0].username}}-->
<!--                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>-->
<!--                                    </h3>-->
<!--                                    <p class="text-sm">{{msg[1].message}}</p>-->
<!--                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>{{msg[2].time}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
                        <div class="dropdown-divider"></div>
                    </div>
                    <a href="#" class="dropdown-item dropdown-footer">查看所有消息</a>
                </div>
            </li>
            <!-- 通知Notifications Dropdown Menu -->
            <li class="nav-item dropdown" id="notifications" v-cloak>
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">{{notifications[0].messages[0].total+notifications[1].responses[0].total+notifications[2].reports[0].total}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">{{notifications[0].messages[0].total+notifications[1].responses[0].total+notifications[2].reports[0].total}}个提醒</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> {{notifications[0].messages[0].total}}个新的消息
                        <span class="float-right text-muted text-sm">0 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> {{notifications[1].responses[0].total}}个新的好友回复
                        <span class="float-right text-muted text-sm">0 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i>  &nbsp;&nbsp;&nbsp;{{notifications[2].reports[0].total}}个新的报告
                        <span class="float-right text-muted text-sm">0 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">查看所有提示</a>
                </div>
            </li>

            <!--启用后会导致页面下方加载过长显示错误-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">-->
            <!--                    <i class="fas fa-th-large"></i>-->
            <!--                </a>-->
            <!--            </li>-->
        </ul>
    </nav>
</th:block>


</body>
</html>