<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>captcha</title>
    <script src = "../../static/js/jquery-3.4.1.js"></script>
</head>
<body>



<!--<div style="text-align:center">-->
<div>
    <form>
        <p id="question">韵致是猪吗</p>
        <input id="input" value=""><span id="hint" style="color: darkred"></span>
        <br>
        <button disabled id="sbmt">提交</button><span style="color:grey;" id="hint2"></span>
    </form>

</div>


<p hidden id="correct_answer">是</p>
<script>
    $(function () {
        $("#input").focusout(function () {
            $(function () {
                var answer = $("#input").val();
                var correct_answer = $("#correct_answer").html();
                // alert(correct_answer);           /*验证获取到correct_answer(从p标签)*/
                var result = answer == correct_answer ? true : false;
                if (result == true) {
                    // alert(result == true ? '答对啦!':'再来一次');
                    $("#hint").html("回答正确");
                    $("#sbmt").removeAttr("disabled");
                    $("#hint2").html("可以点了");
                }else $("#hint").html("&nbsp你是猪吧¿");

            });

        })
    })
</script>
</body>
</html>