<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--当通过xml来配置mybatis时.另外需要在yml中开启读取本xml的配置-->
<mapper namespace="com.example.quickstart.dao.IUserDao">
    <select id="findAll" resultType="com.example.quickstart.domain.User">
        select * from account
    </select>
</mapper>