<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>indexT</title>
    <!-- Bootstrap core CSS -->

</head>
<body>

    <!--此页面为thymeleaf 默认的index页面,路径在静态资源 /resources/static/ 下-->
    <h3 class="text-center">
    <p>Get your greeting <a href="/greeting">here</a></p>





</body>
</html>