<!DOCTYPE html>
<html lang = "zh-CN">
<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name = "description" content = "description">
	<meta name = "author" content = "me">
	<title>index</title>

</head>
<body>

<div>
	<p><a href = "/quickstart">quick start</a></p>
	<p><a href = "/test?msg=hello world">test read value</a></p>
	<p><a href = "/check-database">check-database</a></p>
	<p><a href = "/error">error</a></p>
</div>



</body>
</html>