<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>用户登陆</title>
    <script th:src="@{js/jquery-3.4.1.js}"></script>
</head>
<body>

<div>
    <h4>用户登陆</h4>
    <form action="/toLogin">
        <table>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="username" value="admin"><br></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" name="password" value="admin"></td>
            </tr>
        </table>
        <input type="submit" value="提交" id="submit" >
        <div th:text="${msg}" style="color: salmon">msg</div>
        <hr>

    </form>
    <div>
        <div>用户列表一栏</div>
        <div>admin,pw:admin,perm:add and perm:update</div>
        <div>user1,pw:111111,perm:update</div>
        <div>user2,pw:111111,perm:add</div>
    </div>

</div>

<script>

</script>
</body>
</html>