<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>操作用户</title>
</head>
<body>

<div th:text="${userName}+',你好'" style="color: chocolate"></div>
<hr>
<div><a href="/login">登陆</a></div>

<div><a href="/user/add">添加用户(需要add权限)</a></div>
<div><a href="/user/update">更新用户(需要update权限)</a></div>
<div><a href="/user/admin">admin(需要admin角色)</a></div>
<div><a href="/user/bothPerm">add&update(需要a&u权限)</a></div>
<div><a href="/user/forgetPassword">忘记密码(不需要登陆)</a></div>


</body>
</html>