<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Invoice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{includes/head::head}" />

</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>管理员</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">主页</li>
                            <li class="breadcrumb-item active">管理员</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info" id="message" v-cloak>
                            <h5><i class="fas fa-info" ></i><span >&nbsp;&nbsp;&nbsp;最近消息:</span></h5>
                            {{msg.message}}<br>
                        </div>


                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        <i class="fas fa-user"></i> 管理员信息
                                        <small class="float-right" id="date" v-cloak>{{date}}</small>
                                    </h4>
                                </div>
                                <!-- /.col -->
                            </div>


                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table table-striped" id="admins" v-cloak>
                                        <thead>
                                        <tr>
                                            <th>UUID</th>
                                            <th>账号</th>
                                            <th>权限</th>
                                            <th>描述信息</th>
                                            <th>最后登录</th>
                                        </tr>
                                        </thead>
                                        <tbody ><!-- v-for不可作用在tbbody中，会导致隔行颜色差异消失-->
                                        <tr v-for="admin in admins">
                                            <td >{{admin.uuid}}</td>
                                            <td >{{admin.account}}</td>
                                            <td >{{admin.perm}}</td>
                                            <td >{{admin.info}}</td>
                                            <td >{{admin.lastlogingmt}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    <!-- /.content-wrapper -->


<th:block th:insert="~{includes/script::script}" />



<!--告知浏览器按照js来执行解释-->
<script type="text/javascript">

    var vmMain = new Vue({
        el: "#message",
        data() {
            return {
                msg: {
                    message: "none",
                },
            }
        },
        mounted() {
            // axios.get("/static/data.json")
            axios.post("http://localhost:8080/"+114514+"/msg")
                .then(response => this.msg = response.data);
        },
    });

    var vmDate = new Vue({
        el: "#date",
        data: {
            <!--获取今日日期-->
            date: new Date().getFullYear() + "/" + ("0" + (new Date().getMonth() + 1)).slice(-2) + "/" + ("0" + new Date().getDate()).slice(-2),
        }

    });

    var vmAdmins = new Vue({
        el: "#admins",
        data() {
            return {
                admins: {},
            }
        },
        mounted() {
            axios.post("http://localhost:8080/admins")
                .then(response => this.admins = response.data);
        },
    });
</script>
</body>

