<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Invoice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{includes/head::head}" />

</head>
<body class="hold-transition sidebar-mini">
<!--<iframe src="/welcome" id="iframe" name="iframe" onclick="show(this.id)" frameborder="0" style="width: 100%; heigh = 768px;"></iframe>-->

<div class="wrapper" id="app">

    <!-- Navbar -->
    <th:block th:insert="~{includes/navbar::navbar}" />
    <!-- Navbar End -->


    <!-- Main Sidebar Container -->
    <th:block th:insert="~{includes/sidebar::sidebar}" />
    <!-- Main Sidebar Container End -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>管理员</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">主页</a></li>
                            <li class="breadcrumb-item active">管理员</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info" id="message">
                            <h5><i class="fas fa-info"></i><span>&nbsp;&nbsp;&nbsp;最近消息:</span></h5>
                            {{msg.message}}
                        </div>


                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        <i class="fas fa-user"></i> 管理员信息
                                        <small class="float-right" id="date">{{date}}</small>
                                    </h4>
                                </div>
                                <!-- /.col -->
                            </div>


                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table table-striped" id="accounts">
                                        <thead>
                                        <tr>
                                            <th>UUID</th>
                                            <th>账号</th>
                                            <th>权限</th>
                                            <th>描述信息</th>
                                            <th>最后登录</th>
                                        </tr>
                                        </thead>
                                        <tbody v-for="account in accounts" >
                                        <tr v-for="ac in account">
                                            <td>{{ac[0].uuid}}</td>
                                            <td>{{ac[1].account}}</td>
                                            <td>{{ac[2].perm}}</td>
                                            <td>{{ac[3].info}}</td>
                                            <td>{{ac[4].lastLoginGMT}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Footer Copyright -->
    <th:block th:insert="~{includes/footer::footer}" />
    <!-- Footer Copyright End -->


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- Script -->
<th:block th:insert="~{includes/script::script}" />



<!--告知浏览器按照js来执行解释-->
<script type="text/javascript">

    var vmNavbar = new Vue({
        el: "#message",
        data() {
            return {
                msg: {
                    message: "none",
                },
            }
        },
        mounted() {
            // axios.get("/static/data.json")
            axios.post("http://localhost:8080/"+114514+"/msg")
                .then(response => this.msg = response.data);
        },
    });

    var vmDate = new Vue({
        el: "#date",
        data: {
            <!--获取今日日期-->
            date: new Date().getFullYear() + "/" + ("0" + (new Date().getMonth() + 1)).slice(-2) + "/" + ("0" + new Date().getDate()).slice(-2),
        }

    });

    var vmMessages = new Vue({
        el: "#messages",
        data: {
            messages: [
                {
                    message: [
                        {username: "Tom"},
                        {message: "我下面有人"},
                        {time: "1小时以前"},
                        {avatar: "/static/img/user1-128x128.jpg"},

                    ]
                },
                {
                    message: [
                        {username: "Jerry"},
                        {message: "我上面有人"},
                        {time: "1小时以前"},
                        {avatar: "/static/img/user8-128x128.jpg"},
                    ]
                },
                {
                    message: [
                        {username: "Spark"},
                        {message: "你们俩等着"},
                        {time: "1小时以前"},
                        {avatar: "/static/img/user6-128x128.jpg"},
                    ]
                },
            ],
        }
    });

    var vmNotif = new Vue({
        el: "#notifications",
        data:{
            notifications: [
                {
                    messages: [
                        {total: 1},
                        {time: "1小时以前"},]
                },
                {
                    responses: [
                        {total: 3},
                        {time: "2小时以前"},]
                },
                {
                    reports: [
                        {total: 2   },
                        {time: "1天以前"},]
                },

            ],
        },
    });

    var vmAccounts = new Vue({
        el: "#accounts",
        data:{
            accounts:[
                {account:[
                        {uuid: 114514},
                        {account: "admin@admin.com"},
                        {perm: "admin"},
                        {info: "管理员账号"},
                        {lastLoginGMT: "今日"},
                    ]},
                {account:[
                        {uuid: 1919},
                        {account: "manager@manager.com"},
                        {perm: "manager"},
                        {info: "管理员账号"},
                        {lastLoginGMT: "今日"},
                    ]},
            ]

        },
    });
</script>


</body>
</html>